<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SDHPCM7W5C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SDHPCM7W5C');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="display: inline;">Pavel Bacherikov</h1><br/>
        <bdi style="font-size:130%; color:black;">[ </bdi><a href="pdfs/pbacherikov_CV.pdf" style="color: red; font-size:130%; font-weight:bold;">Curriculum Vitae</a><bdi style="font-size:130%; color:black;"> ]</bdi><bdi style="font-size:130%; color:black;">[ </bdi><a href="https://x.com/pbacherikov"; style="color:red; font-size:130%; font-weight:bold;">&Xopf;</a><bdi style="font-size:130%; color:black;"> ]</bdi><bdi style="font-size:130%; color:black;">[ </bdi><a href="https://bsky.app/profile/pbacherikov.bsky.social"; style="color:red; font-size:130%;"><img src="images/bluesky_logo.png" style="width:14px"></a><bdi style="font-size:130%; color:black;"> ]</bdi>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Photo" />
        {% endif %}

        <bdi style="font-size: 105%; color: black;">I am a Postdoctoral Associate in the Division of Social Sciences at New York University Abu Dhabi.
        <br><br>
        My research spans political economy, economic history, development and urban-spatial economics. In 2025, I received a Ph.D. in <a href="https://haas.berkeley.edu/bpp/" style="color: red;">Business and Public Policy</a> from Haas School of Business, UC Berkeley</bdi>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
